.short-btn-wrapper{
    font-size: 16px;
    font-weight: 400;
}

.short-btn-wrapper a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 13.8rem;
    height: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 48px;
    transition: all 0.3s;
    text-decoration: none;
}

/* *******LIGHT */
.short-btn-light{
    color: var(--primary-color);
}

.short-btn-light:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

/* *******DARKMODE */
.short-btn-dark{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.short-btn-dark:hover{
    background-color: var(--primary-color-light-2);
    cursor: pointer;
}