.btn-padrao img{
    margin-left: 3.75rem;
}

.btn-contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-contato a{
    color: white;
    margin-top: 1.5rem;
    text-decoration: none;
    background-color: var(--primary-color);
}

.botao-enviar button{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 40px;
    padding-inline: 8rem;
    padding-block: 0.5rem;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.botao-enviar svg path{
    stroke: var(--primary-color);
}

.botao-enviar button:hover{
    background-color: var(--primary-color);
}

.botao-enviar button:hover p,
.botao-enviar :hover svg path{
    color: white;
    stroke: white;
}

/* ----------------------------- CONTATO */
#contato{
    padding-top: 4.5rem;
    background-color: white;
}

#contato .wrapper{
}

#contato .contato-title h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

#contato .contato-header{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

#contato .contato-campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contato .contato-campo input{
    background-color: #E9E9E9;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    width: 100vw;        
    max-width: 34.5rem;
}

#contato .contato-campo textarea{
    width: 100%;
    height: 9rem;
    padding: 0.5rem;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: none;
}

#contato .botao-enviar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 1.5rem;
}

/* ----------------------------- TIME */
#video{
    background-color: white;
    background-color: var(--primary-color-light-3);
}

#video .wrapper{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5rem;
}

#video .titulo h1{
    color: white;
    font-size: 40px;
}
