/* ----------------------------- Geral -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --primary-color: rgba(160, 16, 26, 1);
    --primary-color-light: rgba(160, 16, 26, 0.85);
    --primary-color-light-2: rgba(171, 47, 56, 1);
    --primary-color-light-3: rgba(174, 65, 72, 1);    
    --secondary-color: rgba(238, 238, 238, 1);
    --secondary-color-light: rgba(248, 248, 248, 1);
    --dark-letter-primary:rgba(0, 0, 0, 1);
    --dark-letter-secondary: rgba(0, 0, 0, 0.75);
    --light-letter-primary: rgba(249, 245, 240, 1);
}

.wrapper{
    padding: 1.5rem;
    width: min(96rem, 100%);
    margin-inline: auto;
}

body *{
    font-family: Signika; 
}

body h1{
    font-weight: 700;
    margin: 0;
}

body h2{
    font-weight: 700;
    margin: 0;
}

body h3{
    font-weight: 600;
    margin: 0;
}

body p{
    font-weight: 400;
    margin: 0;
}


/* ---------------- RESPONSIVO */

@media (min-width: 992px){
   

    /* ---------------- FOOTER */
    /* #copyright .copyright-dall p{
        font-size: 12px;
    }

    .whatsapp-link{
        bottom: 40px;
        right: 40px;
    } */

}